.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;

  margin: 15px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-graph {
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph {
  width: 100%;
  height: 100%;
}

.graph-loader {
  display: flex;
}
.card-title {
  display: flex;
}
